{% extends 'base.html' %} {% block content %}

<h1>Swords List</h1>


<div class="card">
    <div class="card-content">
        <span class="card-title">{{ sword.name }}</span>
        <p>Legend: {{ sword.legend }}</p>
        <p>Description: {{ sword.description }}</p>
        <p>First Seen: {{ sword.firstSeen }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'swords_update' sword.id %}">Edit</a>
        <a href="{% url 'swords_delete' sword.id %}">Delete</a>
    </div>
</div>

{% endblock %}